# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories -- add your virtual env here
venv/
ml_lr/  

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
